<div class="infoDiv">
    <div class="row mt-2">
        <div class="col sm" style="text-align:left ; padding-left:2%">
            <span class="chat-username">actionComment.username </span>
        </div>
    </div>
    <div class="row ml-2">
        <div class="col m-2 sm ">
            <p class="chat-message"> actionComment.comment
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col sm chat-datum mr-2">
            <span>
                actionComment.commentTime
            </span>
        </div>
    </div>
</div>