<div class="infoDiv">
    <div class="row m-4">
        <div class="col"><%= spasilac.firstname %> </div>
        <div class="col"><%= spasilac.lastname %> </div>
        <div class="col-md-auto">
                <a href="/voditelj/osposobljenja/usr/<%= spasilac.username %> " class="osposobljenjaButton"> Dodijeli osposobljenje</a>
        </div>
    </div>
</div>
