<!DOCTYPE html>
<html lang="hr">
    <head>
        <title>HGSStracker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body class="body">
        <div class="content">
            <!-- Navbar -->
            <%- include ('partials/navbar_partial', {user:user}) %>
            <div class="container">
                <h1 class="pom">Dostupni spasioci</h1>
                <hr class="bg-dark">
                <% for( let i = 0; i < postaje.length ; i++ ) { %>
                    <div class="infoDiv">
                        <div class="stanica-div m-2">
                            <%= postaje[i].namestation %> 
                        </div>
                        <div>
                            <% if (typeof spasioci[i] != 'undefined') { %>
                                <% for( let j = 0; j < spasioci[i].length; j++ ) { %>
                                    <% if (spasioci[i][j].availability == true) { %>
                                        <div class="text-left stanica-spasioci">
                                            <%= spasioci[i][j].username %><span class="spasioc-ime-prezime">  <%= spasioci[i][j].firstname %> <%= spasioci[i][j].lastname %> </span>
                                        </div>
                                    <% } %>
                                <% } %>
                            <% } else { %>
                                <div class="nema-slobodnih m-2">
                                    Nema slobodnih!
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div> 
        </div>
        
        <%- include ('partials/footer_partial') %> 
    </body>
</html>