
;<!DOCTYPE html>
<html>
  <head>
    <title>HGSStracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body class="body">
    <div class = content>
    <!-- Navbar -->
    <%- include('partials/navbar_partial'); %>

    <div class="container">
      <h1 class="pom"> Dobrodošli na HGSStracks</h1>
      <p id="uvodni-paragraf"> Cilj ove web-aplikacije je olakšati komunikaciju između sudionika akcija spašavanja.
        <%if(!user) { %><br> Ukoliko ste već korisnik,<b>prijavite se </b>
        pritiskom na gumb <b>Prijava</b>.
        Ako <b>želite postati korisnik</b> , pritisnite gumb <b>Registracija</b>.
      </p>
      <% };%>

      <% if(!user) { %>
        <div class="d-flex flex-row justify-content-around">
        <a href="login"><button class="button">Prijava</button></a>
        <a href="register"><button class="button">Registracija</button></a>
      </div>
      <% }; %>
    </div>
    <!-- Footer -->
    </div>
  </body>
  <%- include('partials/footer_partial') %>
</html>