<!DOCTYPE html>
<html lang="hr">
    <head>
        <title>HGSStracker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body class="body">
        <div class="content">
            <!-- navbar -->
            <%- include ('partials/navbar_partial',{user:user}) %> 

            <div class="container">
                <h1 class="pom">Postaja <%= namestation %>  </h1>
                <hr>
                <!-- Implementacija podataka -->
                <% if (members !== undefined) {%>
                <% for( let i = 0; i < members.length; i++ ) { %>
                    <%- include ('partials/spasilac_info', {spasilac:members[i]})%> 
                <% } %>
                <% } else { %>
                    <h1 class="pom">Nema zabilježenih spasioca u ovoj stanici.</h1>
                    <% } %>
            </div>
        </div>
        <%- include ('partials/footer_partial') %> 
    </body>
</html>