<!DOCTYPE html>
<html>
<head>
    <title>HGSStracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<!-- TODO : Staviti sliku da se ponavlja (vecinom onaj sivi dio) -->
<body class="body">
    <div class="content">
        <%- include ('partials/navbar_partial',{user:user})%>

        <div class="container">
            <h1 class="pom">Dodavanje voditelja stanicama</h1>
            <hr>
            <% if(stations !== undefined) { %>
            <% for (let i=0 ; i<stations.length ; i++){%>
            <form action="/admin/stanice" method="POST">
                <div class="velikiDiv">
                    <div class="row zahtjev md-20">
                        <div class="col">
                            <h2>Stanica <%= stations[i].namestation %></h2>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 order-1">
                            <!--ugnježđeni retci-->
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Voditelj stanice:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="leader" value=<%= stations[i].nameleader %>>
                                    <input hidden readonly type="text" name="stationID" value=<%= stations[i].idstation %>> 
                                </div>
                            </div>

                            <!--kraj ugnježđenih redaka-->
                        </div>
                        <div class="col-lg-6 order-2">
                            <div class="d-inline p-4">
                                <button class="button pom2" name="dodajButton" type="submit" value="dodaj">
                                    Dodaj
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--kraj velikog diva-->

            <% } %>
        <% } %>
        </div>
    </div>
    <%- include ('partials/footer_partial') %>
</body>
</html>
