<!-- Prikaz informacije o akciji  -->
<div class="col">
    <div class="row m-2">
        <label class="">Ime: <%= title %> </label>
    </div>
    <div class="row m-2">
        <label for="exampleFormControlTextarea1">Opis akcije</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" readonly> <%= description %> </textarea>
    </div>
    <div class="row m-2">
        <form action="/dispecer/akcije/<%= idAction %>/zavrsi" method="POST">
            <input type="submit" value="Završi akciju" class="button pom2">
        </form>
        <a href="/dispecer/akcije/<%= idAction %>/zatrazi " class="button pom2 w-50 ml-1 link-bland">
            Zatraži uključivanje
        </a>
    </div>
</div>
