
<nav class="navbar navbar-expand-sm p navbar-fixed-top">
    <a href="/" class="navbar-brand">HGSStracks</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="" class="nav-link">Novosti</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Kontakt</a>
        </li> 
    </ul>

    <!-- Navbar se mijenja ovisno o korisniku -->
    <ul class="navbar-nav ml-auto">
        <% if(user) { %>
            
            <% if (user.role === "admin") { %>
                <li class="nav-item navbar-brand" id="ulogaID"> Administrator </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/zahtjevi">Zahtjevi za registraciju</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/stanice">Stanice</a>
                </li>
            <% } %>
        
            <% if (user.role === "voditelj") { %>
            <li class="nav-item navbar-brand" id="ulogaID"> Voditelj </li>
            <li class="nav-item">
                <% if (user.availability == true) { %>
                    <div class="dostupnost-true"></div>
                <% } else { %>
                    <div class="dostupnost-false"></div>
                <% } %>
            </li>
            <form action="/voditelj/dostupnost" method="POST">
                <input type="submit" value="Promijeni dostupnost" class="dostupnost-button">
                <input type="text" value=<%= user.username %> name="ime" hidden>
            </form>
            <li class="nav-item">
                <a class ="nav-link" href="/voditelj/osposobljenja">Dodijeli osposobljenjenja.</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mapaUser">Mapa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/voditelj/zahtjevi">Zahtjevi za spasavanje</a>
            </li>
        

            <% } else if(user.role === "spasilac") { %>
            <li class="nav-item navbar-brand" id="ulogaID"> Spasilac </li>
            <li class="nav-item">
                <% if (user.availability == true) { %>
                    <div class="dostupnost-true"></div>
                <% } else { %>
                    <div class="dostupnost-false"></div>
                <% } %>
            </li>
            <form action="/spasilac/dostupnost" method="POST">
                <input type="submit" value="Promijeni dostupnost" class="dostupnost-button">
                <input type="text" value=<%= user.username %> name="ime" hidden>
            </form>
            <li class="nav-item">
                <a class="nav-link" href="/mapaUser">Mapa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/spasilac/zahtjevi">Zahtjevi za spasavanje</a>
            </li>


            <% } else if(user.role === "dispecer") { %>
            <li class="nav-item navbar-brand" id="ulogaID"> Dispečer </li>
            <li class="nav-item">
                <a class="nav-link" href="/dispecer/spasioci">Dostupni spasioci</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mapaDispecer">Mapa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dispecer/akcije">Prikaz akcija</a>
            </li>
            <li class = "nav-item">
                <a class="nav-link" href="/dispecer/otvoriakciju">Otvori akciju</a>
            </li>
            <% } %>

        
        <!-- Svaki korisnik moze pristupiti svom profilu  -->
            <% if (user) { %>
                <% if (user.approved === true) { %>
                <li>
                    <a class="nav-link nav-link-username" href="userprofile"><%= user.username %> <i class="glyphicon glyphicon-user mr-5"></i></a>
                </li>
                <li>
                    <a class="nav-link " href="logout">Logout</a></li>
                <% } else {%>
                    <li>
                        <a class="nav-link nav-link-username" href="userprofile"><%= user.username %> <i class="glyphicon glyphicon-user mr-5"></i></a>
                    </li>
                    <li>
                        <a class="nav-link " href="logout">Logout</a></li>
                <% } %>
            <% } %>
        <% } %>
    </ul>

</nav>