<!-- Prikaz liste spasioca -->
<div class="col">
    <div class="row">
        <label>Popis spasilaca na akciji:</label>
    </div>
    <div class="row">
        <div class="col">
            <% if (typeof spasioci !== 'undefined') { %>
                <% for( let i = 0; i < spasioci.length; i++ ) { %>
                    <div class="row m-2 infoDiv ">
                        <div class="col"><%= spasioci[i].firstname %> </div>
                        <div class="col"><%= spasioci[i].lastname %> </div>
                        <div class="col">
                                <form action="/dispecer/akcije/<%= idAction %>/ukloni/<%= spasioci[i].username %>" method="POST">
                                    <input class="button button-small row m-2" name="ukloniButton" type="submit" value="Ukloni">
                                </form>
                                <a href="/dispecer/akcije/<%= idAction %>/dodajZadatak/<%= spasioci[i].username %>" class="button button-small row m-2">
                                Dodaj zadatak
                                </a>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
</div>