<!-- veliki div da mogu odvojiti zahtjeve-->
<div class="velikiDiv">
    <!-- <div class="row zahtjev md-20">
        <div class="col">
            <h2>Zahtjev broj 1</h2>
            <br>
        </div>
    </div> -->
    <div class="row m-2">
        <div class="col-lg-6 order-1">
            <!--ugnježđeni retci-->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Stanica</label>
                <div class="col-sm-10">
                    <input type="text" name="Stanica" placeholder="Ovdje ubaci stanicu">    
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Mjesto</label>
                <div class="col-sm-10">
                    <input type="text" name="Mjesto" placeholder="Ovdje ubaci mjesto">    
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Poštanski broj</label>
                <div class="col-sm-10">
                    <input type="text" name="Poštanski broj" placeholder="Ovdje ubaci poštanski broj">   
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Voditelj</label>
                <div class="col-sm-10">
                    <input type="text" name="Voditelj" placeholder="Ovdje ubaci voditelja">   
                </div>
            </div>
            <!--kraj ugnježđenih redaka-->
        </div>
        <div class="col-lg-6 order-2">
            <div>
                <button class="button pom2">
                    Izmijeni
                </button>
            </div>
        </div>
    </div>
</div>
