<div class="infoDiv">
    <div class="row">
        <div class="col-sm-2 m-2 text-left">
            <span class="opis-zahtjeva-span">ID Akcije:</span>
        </div>
        <div class="col-sm-8 m-2 text-left">
            <%= mission.idaction %> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 m-2 text-left">
            <span class="opis-zahtjeva-span">Naziv zadatka na akciji:</span>
        </div>
        <div class="col-sm-8 m-2 text-left">
            <%= mission.assignment %> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 m-2 text-left">
            <span class="opis-zahtjeva-span">Opis zadatka: </span>
        </div>
        <div class="col-sm-8 m-2 text-left">
            <%= mission.description %> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 m-2 text-left">
            <span class="opis-zahtjeva-span">Osposobljenje:</span>
        </div>
        <div class="col-sm-8 m-2 text-left">
            <%= mission.nameskill %> 
        </div>
    </div>
    <div class="row">
        <div class="col ml-auto text-right">
            <form action="/spasilac/zahtjevi/<%= mission.idmission %> " method="POST">
                <input class="button button-small m-2" id="preuzmiButton" name="preuzmiButton" type="submit" value="Prihvati">
            </form>
        </div>
    </div>
</div>