*{
    box-sizing: border-box;
}
html, body {
    height:100%;
}
.body{
    background-color: #ffebe6;
    display:flex;
    flex-direction:column;
}

.navbar{
    background-color: #61191F;
    border-radius:0px !important;
}

.nav-link{
    color: white;
}

.navbar-brand{
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 24px !important;
}


.glyphicon{
    color: white;
}


.navbar-nav{
    text-align: center !important;
    margin-left: 20px;
    padding-left: 20px;
}

.nav-item{
    padding-left: 20px;
    margin-left: 20px;
    font-size: 16px;
}
.nav-link-username{
    margin-left:35px;
}
a:hover{
    font-weight: bolder;
    color: white !important;
    text-decoration: none;
}

.container{
    text-align: center;
}

.container label{
    font-size: 16px;
}

.pom{
    margin-top: 100px;
}

.pom2{
    margin-bottom: 10px;
}

.pom3{
    margin-bottom: 100px;
}

input[type=text], input[type=password], input[type=tel], input[type=email], input[type=custom-file]{
    padding: 15px;
    border: black thin 5px;
    border-radius: 15px;
    background: blanchedalmond;
    font-size: 16px;
    width: 400px;
}

input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=email]:focus, input[type=custom-file]:focus{
    outline: none;
    background-color: rgb(250, 225, 189);
}

.button{
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
    font-size: 16px;
    width: 125px;
    opacity: 0.8;
    background-color: #61191F;
    color:white;
    outline: none;
}

.button:hover{
    opacity: 1;
    outline: none;
}

.registracija{
    padding-top: 15px;
    margin-bottom: 100px;
}

.registracija a{
    color: black;
    text-decoration: none;
}

.checkk{
    padding-right: 30px;

}

.custome-file{
    padding-left: 30px;
    width: 100px;;
}

.custome-file-input{
    content: "Teyt";
}

.rounded-circle{
    padding-top: 30px;
    width: 300px;
}

.body{
    background-image: url("../images/forest5.jpg");
}

#mainFooter{
    background-color: #333;
    color: white;
    text-align: center;
    flex-shrink:0;
    
}
#uvodni-paragraf{
    font-size:18px;
}
.content{
    flex:1 0 auto;
}
.velikiDiv{
    border-style:double;
    background-color:gainsboro;
}
.infoDiv{
    border-style:solid;
    border-width:0.1em;
    background-color:gainsboro;
    margin-top:5px;
}
.errordiv{
    color:red;
    font-size:16px;
    font-weight:bold;
}
.osposobljenjaButton{
    padding: 10px;
    border-radius: 15px;
    margin-top: 15px;
    font-size: 16px;
    width: 125px;
    opacity: 0.8;
    background-color: #61191F;
    color:white;
    outline: none;
}
.osposobljenjaDiv{
    position:relative;
    border-style:solid;
    border-width:0.1em;
    background-color:gainsboro;
    margin-top:5px;
    text-align:left;
    padding-left:5px;
    font-size: 24px;
}
.osposobljenjaDiv span{
    font-size: 30px;
    text-decoration:underline;
}
.dodijeliOsposobljenjaButton{
    position:absolute;
    bottom:0;
    right:0;
    margin:10px;
}
.dostupnost-true {
    border-radius:5px;
    border:2px solid #fff;
    height:24px;
    width:24px;
    background-color:green;
    margin-top:15px;
    margin-bottom:15px;
}
.dostupnost-false{
    border-radius:5px;
    border:2px solid #fff;
    height:24px;
    width:24px;
    background-color:red;
    margin-top:15px;

}
.dostupnost-button{
    border-radius:5px;
    border:1px solid #fff;
    margin-top:15px;
    margin-left:5px;
    background-color:#420a15;
    color:white
}
#opisakcije {
    background:blanchedalmond;
    font-size: 16px;
    padding:15px;
}
.opis-box {
    background:blanchedalmond;
    font-size:16px;
    padding:15px;
}
.top-buffer{
    margin-top:20px;
}

.mapaContainer-main{
    margin-top:100px;
}
.mapaContainer-mapa{
    width:1000px;
    height:800px;
    overflow:hidden;
    margin-left:2.5%;
    padding-left:0% !important;
}
.mapaContainer-listaAkcija{
    overflow-y:auto;
    max-height:800px;
}
.button-small{
    width:75px;
    padding:5px;
}
.padding-small{
    padding-left:20px;
    padding-right:20px;
}
.link-bland:hover{
    text-decoration:none;
    font-weight:normal;
}
.ukljucenjeDiv{
    text-align:left;
}
.chat-message{
    text-align:left;
    
}
.chat-datum{
    text-align:right;
}
.chat-datum span {
    color:#636363
}
.chat-username{
    font-size:2rem;
    text-align:left ; 
    padding-left:2%; 
    font-weight:bold;
}
.stanica-div{
    text-align:left;
    font-size:2rem;
    font-weight:bold;
}
.stanica-spasioci{
    border:solid 1px gray;
    margin-left:2.5%;
    margin-right:2.5%;
    margin-bottom:1rem;
    padding:0.5rem;
}
.nema-slobodnih{
    text-align:left;
    padding-left:2.5%;
    color:#61191F;
}
.stanica-spasioci span {
    font-size:larger;
}
.opis-zahtjeva-span {
    font-weight:bold;
}
#comments
{
    width:840px; /* or whatever width you want. */
    max-width:840px; /* or whatever width you want. */
    height:600px;
    max-height:600px;
    overflow-x:hidden;
    overflow-y:auto;
    display: inline-block;
 }
 .biggerText{
     font-size:24px !important;
 }