<!DOCTYPE html>
<html>
    <head>
        <title>HGSStracker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body class="body">
        <div class="content">
            <!-- navbar -->
            <%- include('partials/navbar_partial', {user:user}) %>

            <div class="container">
                <h1 class="pom">Aktivne akcije</h1>
                <hr class="bg-dark">
                <!-- implementacija podataka -->
                <% for( let i = 0; i < actions.length; i++ ) { %>
                    <div class="velikiDiv border border-dark padding-small">
                        <div class="row zahtjev md-20">
                            <div class="col">
                                <h2>Akcija broj <%= i+1 %> </h2>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <%- include('partials/akcija_partial', {currentAction: i+1, title: actions[i].actiontitle, description:actions[i].description
                            , idAction: actions[i].idaction}) %>
                            <%- include('partials/popis_spasioca', {spasioci: spasioci[i], idAction: actions[i].idaction}) %>
                        </div>
                    </div>    
                <% } %>
            </div>
            
        </div>
        <%- include('partials/footer_partial')  %> 
    </body>
</html>