<!DOCTYPE html>
<html>
    <head>
        <title>HGSStracker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/> 
        
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
        
        <script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js"
        integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ=="
        crossorigin=""></script>
    </head>

    <body class="body">
        <div class="content">
            <%- include ('partials/navbar_partial', {user:user}) %> 

            <div class="container">
                <h1 class="pom">Dodaj zadatak spasiocu</h1>
                <hr class="bg-dark">
                <h3 class><%= akcija.actiontitle %> </h2>
                <form action="/dispecer/akcije/<%= akcija.idaction %>/dodajZadatak/<%= spasioc %>" method="POST">
                    <div class="row">
                        <div class="col">
                            <div class="col m-2">
                                <label for="naslovzadatka">Naslov zadatka:</label>
                                
                            </div>
                            <div class="col-sm">
                                <label>Prođi određenom rutom</label>
                                    <input type="radio"  name="zadatak" value="Prođi određenom rutom">
                                <br>
                                <label>Otiđi do lokacije</label>
                                    <input type="radio" name="zadatak" value="Otiđi do lokacije">
                                <br>
                                <label>Postavi privremenu postaju</label>
                                    <input type="radio" name="zadatak" value="Postavi privremenu postaju">
                                <br>
                                <label >Osvježi zalihe u privremenoj postaji</label>
                                    <input type="radio" name="zadatak" value="Osvježi zalihe u privremenoj postaji">
                                <br>
                            </div>
                            <div class="col m-2">
                                <label for="opiszadatka">Opis zadatka:</label>
                            </div>
                            <div class="col">
                                <textarea class="opis-box" name="opiszadatka" rows=4 cols=50></textarea>
                            </div>
                            <div class="col">
                                <input type="submit" class="button" value="Zatraži">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mapaContainer-main d-flex flex-row">
                            <div class="mapaContainer-mapa">
                                <!-- Include Leaflet.heat from CDN -->
                                <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>
            
                                <!-- Load Heatmap Feature Layer from CDN -->
                                <script src="https://unpkg.com/esri-leaflet-heatmap@2.0.0"></script>
            
                                <div id="mapid" style="height:800px; width:1000px;"></div>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
        </div>
        <%- include('partials/footer_partial')  %> 
    </body>
</html>

<script>
    var map = L.map('mapid').setView([46, 16], 10);

    var marker = undefined;

    map.on('click', e => {
        var coord = e.latlng;
        var lat = coord.lat;
        var lng = coord.lng;
        if(marker === undefined) {
          marker = L.marker([lat, lng]).addTo(map)
        } else {
            map.removeLayer(marker)
            marker = L.marker([lat, lng]).addTo(map)
        }

        fetch('zad/assignmentLocation', {
            method: 'POST',
            cache: 'no-cache',
            credentials: "same-origin",
            body: marker.getLatLng(),
            headers: {
                'Content-Type' : 'application/x-www-form-urlencoded'
            }
        })
        
        console.log("Lokacija" + lat + " " + lng)
    });



    var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
}).addTo(map);
</script>