<!DOCTYPE html>
<html lang="hr">
<head>
    <title>HGSStracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="body">
    <div class="content">
    <!-- navbar -->
    <%- include ('partials/navbar_partial',{user:""}) %> 
    
    <form action="/login" method="POST">
        <div class="container">
            <h1 class="pom">Prijava</h1>
            <hr class="bg-dark">
            <label>Korisničko ime</label>
            <br>
            <input type="text" name="username" placeholder="Unesite korisničko ime" id="korisničkoImeID">
            <br><br>
            <label>Lozinka</label>
            <br>
            <input type="password" name="password" placeholder="Unesite lozinku" id="lozinkaID">
            <br><br>
            <button class="button">
                Prijava
            </button>
            <br>
            <div class="registracija">
                <p>
                    Niste registrirani? <a href="register">Registrirajte se</a>
                </p>
            </div>
            <!-- Ako je nesto po krivu poslo(prikaze se odg.poruka) -->
            <% if (error !== undefined) { %>
                <div class="errordiv">
                    <p><%= error %> </p>
                </div>
            <% } %>
        </div>
    </form>
    
    </div>
    </body>
    <!-- Footer -->
    <%- include ('partials/footer_partial') %>
</html>

