<!DOCTYPE html>
<html>

<head>
  <title>Prikaz mape</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js"
    integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ=="
    crossorigin=""></script>
  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
</head>

<body class="body">
  <div class="content">
    <%- include('partials/navbar_partial' , {user:user}) %>

    <div class="container-fluid">
      <div class="row pom">
        <div class="col">
          <!-- Include Leaflet.heat from CDN -->
          <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>

          <!-- Load Heatmap Feature Layer from CDN -->
          <script src="https://unpkg.com/esri-leaflet-heatmap@2.0.0"></script>

          <div id="mapid" style="height: 800px; width: 1000px"></div>
        </div>

        <div class="col">
          <div id="comments"></div>
          <div>
            <form action="mapaUser/sendComment" method="POST">
              <input type="text" name="comment" placeholder="Napiši poruku..." id="comment" />
              <button class="button">Pošalji</button>
            </form>
          </div>
          <div>
            <span>Trenutni zadaci:</span>
            <form action="mapaUser/updateMission" , method="POST" id="misijePost"></form>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</body>

<script>
  var currentUser = "<%= user.username %>"
  var start = "<%= start %>";
  start = start.split(",").map((start) => +start);
  updateMissions();
  start = [start[0], start[1]];

  var map = L.map("mapid").setView(start, 14);

  var points2 = "<%= locations2 %>";
  var names = "<%= imena %>";
  names = names.split(",");
  points2 = points2.split(",").map((x) => +x);
  var markers = [];
  let counter = 0;
  for (let i = 0; i < points2.length; i = i + 2) {
    markers[i / 2] = L.marker([points2[i], points2[i + 1]]).addTo(map);
    markers[i / 2].bindPopup(names[counter]);
    counter++;
  }

  var oznacenRouting = 0

  var green = new L.Icon({
    iconUrl: "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png",
    shadowUrl: "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png",
    iconSize: [25, 41],
    iconAnchor: [12, 41],
    popupAnchor: [1, -34],
    shadowSize: [41, 41],
  });
  var tempStations = "<%= tempStations %>";
  tempStations = tempStations.split(",").map((x) => +x);
  var tempMarkers = [];
  for (let i = 0; i < tempStations.length; i = i + 2) {
    tempMarkers[i / 2] = L.marker([tempStations[i + 1], tempStations[i]], {
      icon: green,
    }).addTo(map);
    tempMarkers[i / 2].bindPopup("Privremena stanica");
  }

  let brojac = 0;

  let akcija = "<%= akcija %>";
  if (akcija) {
    akcija = +akcija;
  } else {
    akcija = -1;
  }

  var LeafIcon = L.Icon.extend({
    options: {
      iconSize: [38, 50],
    },
  });

  var greenIcon = new LeafIcon({
    iconUrl: "https://cdn4.iconfinder.com/data/icons/positive-character-traits-alphabet-d/210/positive-d005-512.png",
  });

  var tiles = L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
  }).addTo(map);

  //crtanje rute
  map.setView(L.latLng(start));

  if (navigator.geolocation) {
    navigator.geolocation.watchPosition(showPosition);
  } else {
    console.log("Geolocation is not supported by this browser.");
  }

  function showPosition(position) {
    let koordinate =
      position.coords.latitude + ";" + position.coords.longitude;
    map.panTo([position.coords.latitude, position.coords.longitude])
    //var formData =[]
    //formData.push(encodeURIComponent('coord')+ "=" + encodeURIComponent(koordinate))

    fetch("mapaUser/savePosition", {
        method: "POST",
        cache: "no-cache",
        credentials: "same-origin",
        body: koordinate, // tu treba ići odabrana id akcije koja se odabere u html-u
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
      })
      .then((res) => {
        return res.json();
      })
      .then((res) => {})
      .catch((res) => {
        console.log("Exception : ", res);
      });
  }

  function updateMissions() {
    var misije = "<%= misije %>";
    var zadaci = "<%= zadaci %>";
    console.log(misije)
    console.log(zadaci)
    if (zadaci.length > 0) {
      misije = misije.split(",");
      zadaci = zadaci.split(",");
      aktivneMisije = [];
      lista = [];
      console.log(aktivneMisije)
      for (let i = 0; i < zadaci.length; i += 2) {
        lista.push(
          '<input type="checkbox" id = "' +
          zadaci[i] +
          '" name="' +
          zadaci[i] +
          '" value="' +
          zadaci[i + 1] +
          '">'
        );
        lista.push(
          '<label for="' +
          zadaci[i] +
          '"> ' +
          zadaci[i + 1] +
          " </label></br>"
        );
      }
      lista.push("<button class='button'>Potvrdi izvršene misije</button>");
      document.getElementById("misijePost").innerHTML = lista.join(" ");
    }
  }

  function commentsRender() {
    fetch("mapaUser/refreshComments", {
        method: "POST",
        cache: "no-cache",
        credentials: "same-origin",
        body: undefined,
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
      })
      .then((res) => {
        return res.json();
      })
      .then((res) => {
        let tmp = "";
        for (let i = 0; i < res["data"].length; i++) {
          tmp = tmp + '<div class="infoDiv">';
          tmp = tmp + '<div class="row mt-2">';
          tmp = tmp + '<div class="col sm chat-username">';
          tmp = tmp + res["data"][i].username;
          tmp = tmp + "</div> </div>";
          tmp = tmp + '<div class="row ml-2">';
          tmp = tmp + '<div class="col m-2 sm ">';
          tmp = tmp + '<p class="chat-message">';
          tmp = tmp + res["data"][i].comment;
          tmp = tmp + "</p></div></div>";
          tmp = tmp + '<div class="row">';
          tmp = tmp + '<div class="col sm chat-datum mr-2">';
          tmp = tmp + "<span>";
          tmp = tmp + res["data"][i].commenttimestampconverted;
          tmp = tmp + "</span></div></div></div>";
        }
        document.getElementById("comments").innerHTML = tmp;
      });

    setTimeout(commentsRender, 5000);
  }

  commentsRender();

  setInterval(() => {
    fetch("mapaDispecer/updateCurrent", {
        method: "POST",
        cache: "no-cache",
        credentials: "same-origin",
        body: akcija, // tu treba ići odabrana id akcije koja se odabere u html-u
        headers: {
          "Content-Type": "application/x-www-form-urlencoded",
        },
      })
      .then((res) => {
        return res.json();
      })
      .then((res) => {
        for (let j = 0; j < brojac; j++) {
          if (map.hasLayer(window["spasilac" + j])) {
            map.removeLayer(window["spasilac" + j]);
          }
        }
        finished = res["data"];

        brojac = 0;
        for (obj in finished) {
          objekt = finished[obj];
          window["spasilac" + brojac] = L.marker([objekt[0], objekt[1]], {
            icon: greenIcon,
          }).addTo(map);
          brojac++;
          if (objekt[4] == currentUser && oznacenRouting == 0) {
            "<% for (let [key, value] of assignmentLocations) {%>"
              L.Routing.control({
              waypoints: [
                L.latLng(objekt[0], objekt[1]),
                L.latLng( "<%= value[0].longitude %>" , "<%= value[0].latitude %>" ),
              ],
              routeWhileDragging: false,
              lineOptions: {
              styles: [{color: 'orange', opacity: 1, weight: 5}] },
              showAlternatives: false,
              addWaypoints: false,
              draggableWaypoints: false,
              router: L.Routing.osrmv1({
                serviceUrl: "https://router.project-osrm.org/route/v1",
              }),
            }).addTo(this.map);
            "<% } %>"
          }
        }
        oznacenRouting = 1
      })
      .catch((res) => {
        console.log("Exception : ", res);
      });
  }, 5000);
</script>

</html>