<!doctype html>
<html>
    <head>
    <title>Prikaz mape</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="/styles/style.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

        <script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js"
        integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ=="
        crossorigin=""></script>
    </head>


    <body class="body">
        <div class="content">
            <%- include('partials/navbar_partial' , {user:user})  %> 
            
            <div class="container-fluid">
                <div class="row pom">
                    <div class="col">
                        <!-- Include Leaflet.heat from CDN -->
                        <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>

                        <!-- Load Heatmap Feature Layer from CDN -->
                        <script src="https://unpkg.com/esri-leaflet-heatmap@2.0.0"></script>

                        <div id="mapid" style="height:800px; width:1000px;"></div>
                    </div> 
                    <div class="col">
                        <div id="comments"></div>
                        <div>
                            <!-- <form action='mapaDispecer/sendComment'method="POST">-->
                            <input type="text" name="comment" placeholder="Napiši poruku..." id="comment">
                            <button class="button" onclick="commentSending()">
                                Pošalji
                            </button>
                            <!--</form> -->
                        </div>
                        <div>
                            <input type="checkbox" name="vrsta">Prikaži heatmapu</input>
                        </div>
                        <div>
                            <% for(var i = 0; i < svi.length; i++) { %>
                                <input type="radio" name="akcije" value=<%= svi[i] %> checked><%= svi[i] %></input>
                                
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <%- include('partials/footer_partial', {})  %> 
    </body>

<script>
    

    var start = '<%= start %>'
    start = start.split(",").map(start => +start)
    start = [start[0],start[1]]

    var map = L.map('mapid').setView(start,10);
    
    var points2 = '<%= locations2 %>'
    var names = '<%= imena %>'
    names = names.split(",")
    points2 = points2.split(",").map(x => +x)
    var markers = []
    let counter = 0
    for(let i = 0; i < points2.length; i=i+2) {
        markers[i / 2] = L.marker([points2[i], points2[i+1]]).addTo(map)
        markers[i/2].bindPopup(names[counter]);
        counter++
    }

    var green = new L.Icon({
      iconUrl:
        "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png",
      shadowUrl:
        "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png",
      iconSize: [25, 41],
      iconAnchor: [12, 41],
      popupAnchor: [1, -34],
      shadowSize: [41, 41],
    });
    var tempStations = "<%= tempStations %>";
    tempStations = tempStations.split(",").map((x) => +x);
    var tempMarkers = [];
    for (let i = 0; i < tempStations.length; i = i + 2) {
      tempMarkers[i / 2] = L.marker([tempStations[i], tempStations[i + 1]], {
        icon: green,
      }).addTo(map);
      tempMarkers[i / 2].bindPopup("Privremena stanica");
    }
    
let brojac = 0
let previous = -1

var LeafIcon = L.Icon.extend({
    options: {
       iconSize:     [38, 50],
    }
});

var greenIcon = new LeafIcon({
    iconUrl: 'https://cdn4.iconfinder.com/data/icons/positive-character-traits-alphabet-d/210/positive-d005-512.png'
})

var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
}).addTo(map);

function commentSending()  {
    let comment = document.getElementById('comment')
    let radios = document.getElementsByName('akcije')
    let chosenAction = 0
    for(let r = 0; r < radios.length; r++) {
        if(radios[r].checked) {
            chosenAction = +radios[r].value;
            break;
        }
    }
    tmpBody = []
    tmpBody.push(comment.value)
    tmpBody.push(chosenAction)
    fetch("mapaDispecer/sendCommentDispecer", {
        method: 'POST',
        cache: "no-cache", 
        credentials: "same-origin", 
        body: tmpBody,
        headers: {
        'Content-Type':'application/x-www-form-urlencoded',}
    })
    commentsRender()

    comment.value = ""
}

function commentsRender() {
    let radios = document.getElementsByName('akcije')
    let chosenAction = 0
    for(let r = 0; r < radios.length; r++) {
        if(radios[r].checked) {
            chosenAction = +radios[r].value;
            break;
        }
    }
    fetch("mapaDispecer/refreshCommentsDispecer", {
        method: 'POST',
        cache: "no-cache",
        credentials: "same-origin",
        body: chosenAction,
        headers: {
        'Content-Type':'application/x-www-form-urlencoded',}
    }).then(res => {
        return res.json();
    }).then(res => {
        let tmp = ''
          for(let i = 0; i < res['data'].length; i++) {
              tmp = tmp + '<div class="infoDiv">'
              tmp = tmp + '<div class="row mt-2">'
              tmp = tmp + '<div class="col sm chat-username">'
              tmp = tmp + res['data'][i].username
              tmp = tmp + '</div> </div>'
              tmp = tmp + '<div class="row ml-2">'
              tmp = tmp + '<div class="col m-2 sm ">'
              tmp = tmp + '<p class="chat-message">'
              tmp = tmp + res['data'][i].comment 
              tmp = tmp + '</p></div></div>'
              tmp = tmp + '<div class="row">' 
              tmp = tmp + '<div class="col sm chat-datum mr-2">'
              tmp = tmp + '<span>' 
              tmp = tmp + res['data'][i].commenttimestampconverted
              tmp = tmp + '</span></div></div></div>'
          }
          document.getElementById('comments').innerHTML = tmp;
    })
}

setInterval(commentsRender(), 5000)



setInterval(() => {
    var OdabranaAkcija = 0
    var radios = document.getElementsByName('akcije');
    for(var r = 0; r < radios.length; r++) {
        if(radios[r].checked) {
            OdabranaAkcija = +radios[r].value;
            break;
        }
    }
    var vrsta = document.getElementsByName('vrsta')[0].checked
    var link = ""
    if(vrsta) {
        link = "update"
    } else {
        link = "updateCurrent"
    }
    
    fetch("mapaDispecer/"+link,{
        method: 'POST',
        cache: "no-cache", 
        credentials: "same-origin", 
        body: OdabranaAkcija,              // tu treba ići odabrana id akcije koja se odabere u html-u
        headers: {
        'Content-Type':'application/x-www-form-urlencoded',}
      })
    .then(res=>{
        console.log("res1",res)
        return res.json();
    })
    .then(res=>{
        if(previous==0) {
            for(let j = 0; j < brojac; j++) {
            if(map.hasLayer(window['marker'+j])) {
                map.removeLayer(window['marker'+j])
            }
        }
        } else if(previous==1) {
            for(let j = 0; j < brojac; j++) {
            if(map.hasLayer(window['heat'+j])) {
                map.removeLayer(window['heat'+j])
            }
        }
        }
        if(vrsta) {
            finished = res["data"]
            previous = 1
        var dict = {}
        for(obj in finished) {
            rad = finished[obj].pop()
            if(rad in dict) {
                arr = dict[rad]
                arr.push(finished[obj])
                dict[rad] = arr
            } else {
                dict[rad] = [finished[obj]]
            }
            
        }
        console.log(dict)
        brojac = 0
        for(var key in dict) {
            window['heat'+brojac] = L.heatLayer(dict[key], {radius: +key}).addTo(map);
            brojac++
        }
        } else {
            previous = 0
            finished = res["data"]

        brojac = 0
        for(obj in finished) {
            objekt = finished[obj]
            window['marker'+brojac] = L.marker([objekt[0], objekt[1]], {icon:greenIcon}).addTo(map);
            brojac++
        }
        }
        

    })
    .catch(res=>{
        console.log("Exception : ",res);
    })
}, 5000);
</script>
</html>
