<!DOCTYPE html>
<html>
    <head>
        <title>HGSStracker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body class="body">
        <div class="content">
        <!-- navbar -->
        <%- include('partials/navbar_partial',{user:user}) %>
        
        <form action="/dispecer/otvoriakciju" method="POST">
            <div class="container" style="justify-content: center;">
                <h1 class="pom">Otvaranje nove akcije</h1>
                <hr class="bg-dark">
                        <label class="biggerText">Naslov akcije</label>
                        <br><br>
                        <input type="text" name="naslovakcije" id="naslovakcije">
                        <br><br>
                        <label class="biggerText"> Opis </label>
                        <br><br>
                        <textarea name="opis" id="opisakcije" cols="100" rows="15"></textarea>
                        <br><br>
                        <input type="submit" class="button top-buffer" value="Otvori akciju">
            </div>
        </form>
        </div>
        <%- include('partials/footer_partial') %>
    </body>
</html>