<!DOCTYPE html>
<html>
<head>
    <title>HGSStracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="body">
    <!-- navabr -->
    <%- include ('partials/navbar_partial',{user:""}) %> 
    
    <form action="/register" method="POST" enctype="multipart/form-data">
        <div class="container">
            <h1 class="pom">Registracija</h1>
            <hr class="bg-dark">
            <div class="row">
                <div class="col-lg-6 order-1">
                    <div class="form-check form-check-inline">
                        <div class="checkk">
                            <input type="radio" class="form-check-input" id="checkbox1" name="radiobox" value="spasilac" checked>
                            <label class="form-check-label" for="checkbox1">
                            Spasilac
                            </label>
                        </div>
                        
                            <input type="radio" class="form-check-input" id="checkbox2" name="radiobox" value="dispecer">
                            <label class="form-check-label" for="checkbox2">
                            Dispečer
                        </label> 
                    </div>
                    <br><br>
                    <label>Ime</label>
                    <br>
                    <input type="text" name="ime" placeholder="Unesite ime" required>
                    <br><br>
                    <label>Prezime</label>
                    <br>
                    <input type="text" name="prezime" placeholder="Unesite prezime" required>
                    <br><br>
                    <label>Korisničko ime</label>
                    <br>
                    <input type="text" name="username" placeholder="Unesite korisničko ime" required>
                    <br><br>
                    <label>Lozinka</label>
                    <br>
                    <input type="password" name="password" placeholder="Unesite lozinku" required>
                    <br><br>
                    <label>Email adresa</label>
                    <br>
                    <input type="email" name="email" placeholder="Unesite email adresu" required>
                    <br><br>
                    <label>Broj mobitela</label>
                    <br>
                    <input type="tel" name="mobitel" placeholder="Unesite broj mobitela" required>
                    <br><br>
                    <label>Naziv Stanice</label>
                    <br>
                    <input type="text" name="stanica" placeholder="Unesite naziv stanice" required>
                    <br><br>
                    <button class="button pom2">
                        Registracija
                    </button>
                    <!-- Ako je nesto po krivu poslo(prikaze se odg.poruka) -->
                    <% if (error !== undefined) { %>
                        <div class="errordiv">
                            <p><%= error %> </p>
                        </div>
                    <% } %>
                </div>
                <div class="col-lg-6 order-2">
                    
                    <form class="md-form", enctype="multipart/form-data">
                        <div class="file-field">
                          <div class="mb-4">
                            <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                              class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar">
                          </div>
                          <div class="d-flex justify-content-center">
                            <div class="btn btn-mdb-color btn-rounded float-left">
                              <span>Dodajte Vašu sliku</span>
                              <input type="file" class="pom3" name="picture" accept=".png">
                            </div>
                          </div>
                        </div>
                    </form>
                          
                      
                </div>
            </div>
        </div>
    </form>
    
</body>
<%- include ('partials/footer_partial') %> 
</html>