<!DOCTYPE html>
<html>
<head>
    <title>HGSStracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body class="body">
    <div class="content">
        <%- include ('partials/navbar_partial', {user:user}) %> 

        <div class="container">
            <h1 class="pom">Osposobljenja</h1>
            <hr>
            <div class="osposobljenjaDiv">
            <form action="/voditelj/osposobljenja/usr/<%=spasilac.username%>" method="POST">
                <%= spasilac.username %>, <%= spasilac.firstname %> <%= spasilac.lastname %>
                <br>
                <br>
                <label for="pas">Pas: </label>
                <% if (osposobljenja.includes('pas')) { %>
                    <input type="checkbox"  name="pas" value="pas" checked>
                <% } else { %>
                    <input type="checkbox"  name="pas" value="pas">
                <% } %>
                <br>
                <label for="brod">Brod:</label>
                <% if (osposobljenja.includes('brod')) { %>
                    <input type="checkbox" name="brod" value="brod" checked>
                <% } else { %>
                    <input type="checkbox" name="brod" value="brod">
                <% } %>
                <br>
                <label for="auto">Auto:</label>
                <% if (osposobljenja.includes('auto')) { %>
                    <input type="checkbox" name="auto" value="auto" checked>
                <% } else { %>
                    <input type="checkbox" name="auto" value="auto">
                <% } %>
                <br>
                <label for="bicikl">Bicikl:</label>
                <% if (osposobljenja.includes('bicikl')) { %>
                    <input type="checkbox" name="bicikl" value="bicikl" checked>
                <% } else { %>
                    <input type="checkbox" name="bicikl" value="bicikl">
                <% } %>
                <br>
                <label for="pješice">Pješice:</label>
                <% if (osposobljenja.includes('pješice')) { %>
                    <input type="checkbox" name="pješice" value="pješice" checked>
                <% } else { %>
                    <input type="checkbox" name="pješice" value="pješice">
                <% } %>
                <br>
                <label for="dron">Dron:</label>
                <% if (osposobljenja.includes('dron')) { %>
                    <input type="checkbox" name="dron" value="dron" checked>
                <% } else { %>
                    <input type="checkbox" name="dron" value="dron">
                <% } %>
                <br>
                <label for="helikopter">Helikopter: </label>
                <% if (osposobljenja.includes('helikopter')) { %>
                    <input type="checkbox" name="helikopter" value="helikopter" checked>
                <% } else { %>
                    <input type="checkbox" name="helikopter" value="helikopter">
                <% } %>
                <br>
                <input type="submit" value="Dodijeli" class="osposobljenjaButton dodijeliOsposobljenjaButton">
            </form>
            </div>
        </div>
    </div>
    <%- include ('partials/footer_partial') %>
</body>
</html>