<!DOCTYPE html>
<html>
    <head>
        <title>HGSStracker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
<body class="body">
    <div class="content">
    <%- include ('partials/navbar_partial',{user:user}) %> 
    <% if(user) { %>
        <div class="container">
            <h1 class="pom">Korisnički profil</h1>
            <hr class="bg-dark">
            <div class="row">
                <div class="col-lg-6 order-1">
                    <label>Ime</label>
                    <br>
                    <input type="text" name="name" value=<%= user.firstname %> readonly>
                    <br><br>
                    <label>Prezime</label>
                    <br>
                    <input type="text" name="lastname" value=<%= user.lastname %> readonly>
                    <br><br>
                    <label>Email adresa</label>
                    <br>
                    <input type="text" name="email" value=<%= user.email %> readonly>
                    <br><br>
                    <label>Broj mobitela</label>
                    <br>
                    <input type="text" name="phonenumber"
                    value=<%= user.phonenumber %> readonly> 
                    <br><br>
                   
                </div>
                <div class="col-lg-6 order-2">
                    
                    <form class="md-form">
                        <div class="file-field">
                          <div class="mb-4">
                            <img src= "data:image/png;base64,<%= user.userimage%>"
                              class="rounded-circle z-depth-1-half avatar-pic" alt="slika korisnika" widht="200" height="300">
                              <br>
                              <label>Korisničko ime</label>
                    <br>
                    <input type="text" name="username"
                                        value=<%= user.username %> readonly>
                    <br><br>
                              <label>Uloga</label>
                            <br>
                             <input type="text" name="role" value=<%= user.role %> readonly>
                            <br><br>
                            <label>Naziv Stanice</label>
                    <br>
                    <input type="text" name="station"
                    value=<%= station %>>
                    <br><br>
                          </div>
                        </div>
                      </form>
                          
                      
                </div>
            </div>
        </div>
    </div>
    <% } %>
</body>
<%- include ('partials/footer_partial') %> 
</html>