<!DOCTYPE html>
<html>

<head>
    <title>HGSStracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body class="body">
    <div class="content">
        <%- include ('partials/navbar_partial',{user:user})%>

        <div class="container">
            <h1 class="pom">Zahtjevi za registraciju!</h1>
            <hr>
            <% if(notApprovedUsers !== undefined) { %>
            <% for (let i=0 ; i<notApprovedUsers.length ; i++){%>
            <form action="/admin/zahtjevi" method="POST">
                <div class="velikiDiv">
                    <div class="row zahtjev md-20">
                        <div class="col">
                            <h2>Zahtjev broj <%= i + 1 %></h2>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 order-1">
                            <!--ugnježđeni retci-->
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Uloga</label>
                                <div class="col-sm-10">
                                    <input type="text" name="role" value=<%= notApprovedUsers[i].role %>>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Ime</label>
                                <div class="col-sm-10">
                                    <input type="text" name="name" value=<%= notApprovedUsers[i].firstname %>>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Prezime</label>
                                <div class="col-sm-10">
                                    <input type="text" name="lastname" value=<%= notApprovedUsers[i].lastname %>>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Korisničko ime</label>
                                <div class="col-sm-10">
                                    <input type="text" name="username"
                                        value=<%= notApprovedUsers[i].username %>>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Email adresa</label>
                                <div class="col-sm-10">
                                    <input type="text" name="email" value=<%= notApprovedUsers[i].email %>>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Broj mobitela</label>
                                <div class="col-sm-10">
                                    <input type="text" name="phonenumber"
                                        value=<%= notApprovedUsers[i].phonenumber %>>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Stanica</label>
                                <div class="col-sm-10">
                                    <input type="text" name="station"
                                        value=<%= notApprovedUsers[i].namestation %>>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Slika</label>
                                <div class="col-sm-10">
                                    <img src= "data:image/png;base64,<%= notApprovedUsers[i].userimage%>" widht="200" height="300"> 
                                </div>
                            </div>



                            <!--kraj ugnježđenih redaka-->
                        </div>
                        <div class="col-lg-6 order-2">
                            <div class="d-inline p-4">
                                <button class="button pom2" name="dodajButton" type="submit" value="dodaj">
                                    Dodaj
                                </button>
                            </div>
                            <div class="d-inline p-4">
                                <button class="button pom2" name="odbijButton" type="submit" value="odbij">
                                    Odbij
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--kraj velikog diva-->

            <% } %>
        <% } %>
        </div>
    </div>
    <%- include ('partials/footer_partial') %>
</body>

</html>