<!DOCTYPE html>
<html lang="hr">
    <head>
        <title>HGSStracker</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body class="body">
        <div class="content">
            <!-- Navbar -->
            <%- include ('partials/navbar_partial', {user:user}) %>
            <div class="container">
                <% if(availability[0].availability == true) { %>
                    <% if(missions !== undefined) { %>
                        <h1 class="pom"><%= title %></h1>
                        <% for( let i = 0; i < missions.length; i++ ) { %>
                            <%- include('partials/zahtjev_partial', {mission:missions[i]})  %> 
                            <br>
                        <% } %>
                    <% }  else {%>
                        <h1 class="pom">Trenutno nema dostupnih misija.</h1>
                    <% } %>
                <% }  else {%>
                    <h1 class="pom">Nije moguće biti na više od jedne misije istovremeno.</h1>
                <% } %>
            </div> 
        </div>
        
        <%- include ('partials/footer_partial') %> 
    </body>
</html>




