*{
    box-sizing: border-box;
}

.body{
    background-color: #ffebe6;
}

.navbar{
    background-color: #61191F;
    border-radius:0px !important;
}

.nav-link{
    color: white;
}
.navbar-brand{
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 24px !important;
}


.glyphicon{
    color: white;
}

.glyphicon:hover{
    font-weight: bolder;
    font-size: 20px;;
}

.navbar-nav{
    text-align: center !important;
    margin-left: 20px;
    padding-left: 20px;
}

.nav-item{
    padding-left: 20px;
    margin-left: 20px;
    font-size: 16px;
}

a:hover{
    font-weight: bolder;
    color: white !important;
    text-decoration: none;
}

.container{
    text-align: center;
}

.container label{
    font-size: 16px;
}

.pom{
    margin-top: 100px;
}

.pom2{
    margin-bottom: 100px;
}

.pom3{
    margin-bottom: 100px;
}

input[type=text], input[type=password], input[type=tel], input[type=email], input[type=custom-file]{
    padding: 15px;
    border: black thin 5px;
    border-radius: 15px;
    background: blanchedalmond;
    font-size: 16px;
    width: 400px;
}

input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=email]:focus, input[type=custom-file]:focus{
    outline: none;
    background-color: rgb(250, 225, 189);
}

.button{
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
    font-size: 16px;
    width: 125px;
    opacity: 0.8;
    background-color: #61191F;
    color:white;
    outline: none;
}

.button:hover{
    opacity: 1;
    outline: none;
}

.registracija{
    padding-top: 15px;
    margin-bottom: 100px;
}

.registracija a{
    color: black;
    text-decoration: none;
}

.checkk{
    padding-right: 30px;

}

.custome-file{
    padding-left: 30px;
    width: 100px;;
}

.custome-file-input{
    content: "Teyt";
}

.rounded-circle{
    padding-top: 30px;
    width: 300px;
}

.body{
    background-image: url("forest5.jpg");
}

#mainFooter{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}